@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}
body {
  color: #111;
  background-color: #fff;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

.tiptap:focus {
  outline: none;
}
.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #adb5bd;
  pointer-events: none;
  float: left;
  height: 0;
}
